.otg-top-container-clients-page {
	position: absolute;
	background-image: url('../img/footballfield.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100vw;
	height: 5590px;
	background-attachment: fixed;
}

.otg-background-color-clients-page {
	position: relative;
	top: 0;
	background-color: rgba(255, 255, 255, .6);
	height:5592px;
}

.profile-img-container img {
	width:501px;
	height: 363px;
}


footer{
	position: relative;
	top: 0;
	bottom:0;
	/*left: 0;*/
	height: 83vh;
	width: 100%;
	background: #000;
}