*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

header {
	position: fixed;
	height:20vh; /*8rem;*/
	background: rgba(255, 255, 255, .8);
	border-bottom: 4px green solid;
	z-index: 2;
	/*opacity: .6;*/
}

#top-nav {
	margin-top: 3rem;
	position: relative;
	z-index: 3;
}

#top-nav ul {
	text-align: center;
}

#top-nav ul li {

	display: inline;
	padding-right: 1rem;
	font-size: 1.2rem;
	font-weight: 400;
	font-family: arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
}

#top-nav ul li a{
	color: green;
}

#top-nav ul li a:hover{
	padding-bottom: 1rem;
	border-bottom: 4px green solid;
	text-decoration: none;
}

#logo img{
	margin-top: 1rem;
	margin-left: 10rem;
}

.phone p {
	margin-top: 3rem;
	text-align: center;
	color: green;
	font-family: arial, sans-serif;
}

.count-down-title {
	text-align: center;
	margin-top: .5rem;
	display: inline-block;
	padding-top: 10px;
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-family: arial, sans-serif;
}

.count-down-box {
	display: inline-block;
	padding: 10px;
	border-radius: 10px;
}

.count-down-container{
	position: absolute;
	margin-top: 20vh; /*8rem;*/
	text-align: center;
	background: green;
	height: 4rem;
}

.count-down-container p {
	color: #fff;
	padding-right: .4rem;
	font-family: arial, sans-serif;
	text-transform: uppercase;
}

#header-img {
	/*position: absolute;*/
	position: relative;
	top: 30vh;
	height: 150px;
	min-width: 100vw;
}

.nfl-sports-mngt-container {
	/*position: absolute;*/
	margin-top: 16rem;
	/*top: 27rem;*/
	text-align: center;
	text-transform: uppercase;

	/*width: 100%;
    height: 100%;
    /*top: 0px;*/
    /*left: 0px;*/
   /* text-align: center;*/
    z-index: -1;
    background: #fff;
    transform-origin: bottom left;
    -ms-transform: skew(-5deg, 0deg);
    -webkit-transform: skew(-5deg, 0deg);
    transform: skew(-5deg, 0deg);*/

}

.otg-h1 {
	color: green;
	display: inline;
	font-family: arial, serif;
	font-size: 4rem;
	font-style: italic;
	text-transform: uppercase;
}

.otg-h1-text {
	color: #000;
	display: inline;
	font-family: arial, serif;
	font-size: 2rem;
	background: lightgreen;
	padding: .7rem;
	text-transform: uppercase;
	border-radius: 10px;
	box-shadow: 5px 10px 8px #000;
	/*transform-origin: bottom left;
    -ms-transform: skew(-5deg, 0deg);
    -webkit-transform: skew(-5deg, 0deg);
    transform: skew(-5deg, 0deg);*/
}

.nfl-sports-mngt-container h3 {
	color: green;
	padding-top: 1.5rem;
	text-transform: uppercase;
	font-style: italic;
}

.trust-process-container {
	content: " ";
    position: absolute;
    display: inline;
    margin-top: -280px;
    left: 25%;
    opacity: .7;
   /* border:1px green solid;*/
    width: 90%;
    height: 40%;
    /*top: 0px;*/
    /*left: 0px;*/
    text-align: center;
    z-index: 3;
    background: none;
    transform-origin: bottom left;
    -ms-transform: skew(-5deg, 0deg);
    -webkit-transform: skew(-5deg, 0deg);
    transform: skew(-5deg, 0deg);

}

.trust-process-container p {
	position:relative;
	/*margin-top: 220px;*/
	font-family: arial, sans-serif;
	font-weight: 400;
	font-size: 3rem;
	color: #fff;
	padding: 3rem;
	border-radius: 10px;
	background: green;
	text-align: center;
	/*margin-left: 250px;*/
	text-transform: uppercase;
}

#trust-img {
	position: relative;
	background-image: url('../img/kansas.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	margin-top: 100px;
	left: 0;
	min-width: 100vw;
	height: 400px;
	z-index: 2;
}

.nfl-otg-links-container {
	/*position: absolute;*/
	margin-top: 9rem;
}
.nfl-facts-container {
	/*position: absolute;*/
	left: 9rem;
	margin-top: 10rem;
	height: 460px;
	background: lightgreen;
	z-index: -3;
	border-radius: 20px;

}

.nfl-facts-container:before {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;
    z-index: -1;
    background: lightgreen;
    transform-origin: bottom right;
    -ms-transform: skew(5deg, 0deg);
    -webkit-transform: skew(5deg, 0deg);
    transform: skew(5deg, 0deg);
}

.nfl-facts-container h5 {
	position: absolute;
	padding-top: 2rem;
	margin-bottom: 2.5rem;
	left: 3rem;
}

.nfl-facts-container p {
	position: relative;
	margin-top: 4rem;
	left: 1rem;
	width: 10rem;
	padding-left:  1rem;

}

.links-container{
	position: absolute;
	right: 9rem;
	margin-top: 10rem;
	height: 460px;
	background: lightgreen;
	z-index: -3;
	border-radius: 20px;
}

.links-container:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: lightgreen;
    transform-origin: bottom left;
    -ms-transform: skew(-5deg, 0deg);
    -webkit-transform: skew(-5deg, 0deg);
    transform: skew(-5deg, 0deg);
    border-radius: 20px;
}


.links-container h5 {
	position: absolute;
	right: 8.5rem;
	top: 2rem;
}

.links-container h6 {
	position: absolute;
	top: 9rem;
	margin-top: 2rem;
}

.links-container ul {
	position: absolute;
	z-index: 3;
	right: 2.5rem;
	top: 4rem;
}

.otg-sports-container {
	height: 580px;
}

.otg-sports-container h3 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
	color: green;
	font-family: arial, sans-serif;
}

.otg-sports-container p {
	font-size: 1.5rem;
	text-align: center;
	padding-bottom: 1rem;
}

 .otg-sports-container{
    position: relative;
    /*width: 120px;*/
    height: 595px;
    margin-top: 5rem;
    padding: 10px 20px 10px 10px;
    font-size: 20px;
    color: #000;
    background: #f7f7f7;
   border-top:1px green solid;
    border-bottom: 1px green solid
    border-radius:20px;

}
.otg-sports-container:after {
    content: " ";
    position: absolute;
    display: block;
    border-top: 1px green solid;
    border-right:1px green solid;
    border-bottom: 1px green solid;
    width: 100%;
    height: 621px;
    top: -1px;
    left: 1px;
    z-index: -1;
    background: #f7f7f7;
    transform-origin: bottom left;
    -ms-transform: skew(-5deg, 0deg);
    -webkit-transform: skew(-5deg, 0deg);
    transform: skew(-5deg, 0deg);
    border-radius:20px;
}

.otg-sports-container-2:before {
    content: " ";
    position: absolute;
    display: block;
    border:1px green solid;
    width: 100%;
    height: 620px;
    top: -1px;
    left: -1px;
    z-index: -1;
    background: #f7f7f7;
    transform-origin: bottom right;
    -ms-transform: skew(5deg, 0deg);
    -webkit-transform: skew(5deg, 0deg);
    transform: skew(5deg, 0deg);
    border-radius:20px;
}

.testimonials-container {
	/*position: absolute;*/
	margin-top: 6rem;
	text-align: center;
	content: " ";
	left: -30px;
   /* position: absolute;*/
    display: block;
   /* border:1px green solid;*/
    width: 100%;
    height: 100%;
    /*top: 0px;*/
    /*left: 0px;*/
    z-index: -1;
    transform-origin: bottom left;
    -ms-transform: skew(-5deg, 0deg);
    -webkit-transform: skew(-5deg, 0deg);
    transform: skew(-5deg, 0deg);

}

.testimonials h3 {
	font-family: serif;
	font-size: 3rem;
	font-style: italic;
	font-weight: 400;
	color: #000;
}

.testimonials p {
	font-family: serif;
	font-size: 1.5rem;
	font-weight: 400;
	color: #fff;
	padding: 1rem;
	border-radius: 10px;
	margin-top: 2rem;
	background: green;
	box-shadow: 5px 10px 8px #000;
}

.img-text-div {
	background: #f7f7f7;
	border-radius: 10px;
	padding: 10px;
	border: 1px #000 solid;
}

.img-text-last-div {
	background: #f7f7f7;
	border-radius: 10px;
	padding: 10px;
	margin-top: 8rem;
	border: 1px #000 solid;
}

.images{
	/*position: absolute;*/
	margin-top: 50px;
	margin-bottom: 200px;
	
}

.images img {
	max-width: 190px;
	max-height: auto;
	border-radius: 100%;
	float:left;
	margin-right: 2em;
	margin-bottom: 0.5em;
	border:3px green solid;
	shape-outside: circle();
}

.testimonial-video-link-container {
	background-color: lightgreen;
	border-radius: 10px;
	border: 1px #000 solid;
}

.testimonial-video-link-container, h5 {
	padding: 20px;
}

#img-testimonial-link {
	width: 100%;
	height: auto;
}

.small-img img {
	max-width: 140px;
	max-height: auto;
	border-radius: 100%;
	float:left;
	margin-right: 2em;
	margin-bottom: 0.5em;
	border:3px green solid;
	shape-outside: circle();
}




/******************SERVICES*********************/
.services-container {
	margin-top: 6rem;
	background-color: lightgreen;
	border-top: 1px #000 solid;
}

.first-services-text {
	margin-top: 10rem;
} 

.services-text {
	background-color: #f9f9f9;/*light gray*/
	border: 1px #000 solid;
	box-shadow: 5px 10px 8px #000;
	border-radius: 10px;
	margin-bottom: 10rem;
}

.services-text h4 {
	padding: 20px;
}

.services-text img {
	display: inline;
	float: left;
	padding: 20px;
	max-width: 250px;
	height: auto;
	border-radius: 10px;
}

/********************ABOUT***********************/
.about-container {
	margin-top: 10rem;
}

.about-text {
	background-color: #f9f9f9;/*light gray*/
	border: 1px #000 solid;
	border-radius: 10px;
	margin-bottom: 5rem;
	padding: 20px;
}

.about-text h4 {
	color: green;
}

.about-text p {
	padding: 20px;
	color: red;
}

.about-text iframe {
	padding: 20px;
	float: left;
	display: inline-block;
}
/***************STAFF**************************/

.staff-wrapper {
	/*position: relative;*/
	text-align: center;
	margin-top:16rem;
	 /*left: 25%;*/
   /* border:1px green solid;*/
    width: 100%;
    height: 100%;
    /*top: 0px;*/
    /*left: 0px;*/
    text-align: center;
    z-index: -1;
    background: #fff;
    transform-origin: bottom left;
    -ms-transform: skew(-5deg, 0deg);
    -webkit-transform: skew(-5deg, 0deg);
    transform: skew(-5deg, 0deg);
}

.staff-jcm-image-text-container {
	/*position: relative;*/
	margin-top: 10rem;
	margin-left: 25%;
}

.staff-sarahL-image-text-container {
	/*position: relative;*/
	margin-top: 20rem;
	margin-left: 25%;
	text-align: right;
}

.staff-laurenW-image-text-container {
	/*position: relative;*/
	margin-top: 20rem;
	margin-left: 25%;
	text-align: left;
}

.staff-garyRoberts-image-text-container {
	/*position: relative;*/
	margin-top: 20rem;
	margin-left: 25%;
	text-align: right;
}

.staff-robMay-image-text-container {
	/*position: relative;*/
	margin-top: 20rem;
	margin-left: 25%;
	text-align: left;
}

.staff-jonathanJoseph-image-text-container {
	/*position: relative;*/
	margin-top: 20rem;
	margin-left: 25%;
	text-align: right;
}

.staff-tyroneKeys-image-text-container {
	/*position: relative;*/
	margin-top: 20rem;
	margin-left: 25%;
	text-align: left;
}

.float-staff-img-left img {
	/*position: relative;*/
	width: 60%;
	max-width: 300px;
	height: auto;
	border-radius: 50%;
	float:left;
	margin-right: 2em;
	margin-bottom: 0.5em;
	border:3px green solid;
	shape-outside: circle();
	
}


.float-staff-img-right img {
	position: relative;
	width: 60%;
	max-width: 300px;
	height: auto;
	border-radius: 50%;
	float:right;
	margin-left: 2em;
	margin-bottom: 0.5em;
	border:3px green solid;
	shape-outside: circle();
	
}

.staff-images {
	background-color: #f7f7f7;
	padding: 20px;
	border-radius: 10px;
	border: 1px #000 solid;
}


/*.mantra-text {
	position: absolute;
	margin-top: 1700px;
	right: 0;
	margin-left: 200px;
	text-align: center;

}

.mantra-text{
	content: " ";
   /* position: absolute;*/
   /* display: block;
   /* border:1px green solid;*/
    /*width: 100%;
    height: 100%;
    top: 0px;
    /*left: 0px;*/
   /* z-index: -1;
    background: #fff;
    transform-origin: bottom left;
    -ms-transform: skew(-5deg, 0deg);
    -webkit-transform: skew(-5deg, 0deg);
    transform: skew(-5deg, 0deg);

}
/*
.mantra-text h1 {
	font-family: arial, sans-serif;
	font-weight: 400;
	font-size: 2rem;
	color: #000;
	text-transform: uppercase;
	font-style: italic;
	background: lightgreen;
	padding: 1rem;
	border-radius: 10px;
	text-align: center;
}

.mantra-text p {
	font-family: arial, sans-serif;
	color: #fff;
	font-size: 2.5rem;
	text-transform: uppercase;
	font-style: italic;
	background: green;
	padding: 2rem;
	border-radius: 10px;
	margin-top: 3rem;
	text-align: center;
}
*/

/***************footer*****************/
footer{
	/*position: absolute;*/
	top: 5386px;
	bottom: 0;
	/*left: 0;*/
	height: 80vh;
	width: 100%;
	background: #000;
}

#links-text-otg {
	position: relative;
	padding-top: 50px;
	color: #fff;
	text-align: center;
}

.links {
	padding-bottom: 2%;
	/*left: 6rem;*/
}

.links ul {
	position: absolute;
	left: 3rem;
}

.links-border {
	/*position: absolute;*/
	/*right: 4rem;*/
	border-right: 3px green solid;

}

.links ul li{
	list-style: none;
}

.links ul li a{
	color: green;
}

.links ul li a:hover{
	color: lightgreen;
}

.links p{

	color: #fff;
}

.contact h6 {
	position:absolute;
	right: 3rem;
	color: #fff;
}

.copyright {
	position: relative;
	bottom: 0;
	/*top: 5690px;*/
	color: green;
}

#prpa-vkweb {
	padding-top:3%;
}

#prpa-vkweb i {
	position: relative;
	font-size: 28px;
	color: green;
	padding-right: 45px;

}

#prpa-vkweb i:hover {
	color: lightgreen;
}

#prpa-vkweb {
	text-align: center;
}

#prpa-vkweb a i{
	margin-top: 5px;
}

#prpa-copy-right {
	position: relative;
	color: #fff;
	padding-top: 30px;
	padding-bottom: 0 !important;
}

#vk-link {
	padding-top: 0px;
	margin-bottom: 30px;
	color: green;
}

#vk-link:hover {
	color: lightgreen;
}

