* {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
	background-color: #000;
}

header {
	position: fixed;
	height:20vh; /*8rem;*/
	z-index: 3;
	/*opacity: 0.8;*/
	border-bottom: 4px green solid;
	background: #fff;
}

#top-nav {
	margin-top: 3rem
}

#top-nav ul {
	text-align: center;
	position: fixed;
}

#top-nav ul li {

	display: inline;
	padding-right: 1rem;
	font-size: 1.2rem;
	font-weight: 400;
	font-family: arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
}

#top-nav ul li a{
	color: green;
}

#top-nav ul li a:hover{
	padding-bottom: 1rem;
	border-bottom: 4px green solid;
	text-decoration: none;
}

#logo img{
	margin-top: 1rem;
	margin-left: 10rem;
}

.phone p {
	margin-top: 2rem;
	text-align: center;
	color: green;
	font-family: arial, sans-serif;
	font-size: 1.5rem;
}

.header {
	position: relative;
	
}

#header-img {
	position: relative;
	margin-top: 20vh;
	/*top: 0;190px;*/
	height: 80vh;
	min-width: 100vw;
	border-bottom: 4px green solid;
}

.container-fluid {

}

#body{
	background: #000;
}

/**************OTG/WELCOME*******************/
#big-otg {
	position: relative;
	/*margin-top: 10rem;*/
}

#big-otg h1 {
	font-size: 5rem;
	color: green;
	text-align: right;
}

#otg-welcome-container {
	border-top: 8px #fff solid;
	height: 70vh;
}

#otg-welcome-img {
	padding: 20px;
}

#otg-welcome-text {
	color: #fff;
	text-align: left;
}

#otg-welcome-text h3 {
	padding-top: 10px;
}

#otg-welcome-text p {
	text-align: left;
}

#big-otg {
	position: relative;
	margin-top: 5rem;
}

#big-otg h1 {
	font-size: 5rem;
	color: green;
	text-align: right;
}

/**************MANTRA TEXT*******************/

.mantra {
	position: relative;
	margin-bottom: 11rem;
}

#mantra-text h2 {
	position: absolute;
	font-size: 4.5rem;
	left: 8rem;
	color: green;

}

#mantra-text span{
	color: green;
}

#you-ball {
	position: absolute;
	left: 16rem;
	top: 6rem;
	font-size: 2rem;
	color: #fff;
}

#we-ball {
	position: absolute;
	left: 22rem;
	top: 9rem;
	font-size: 2rem;
	color: #fff;
}

/***************ABOUT US************************/

#about-container {
	position: relative;
	top: 13rem;
	background: #fff;
	color: #000;
}

#about-text {
	flex: none;
	max-width: 100%;
}

#about-text h4{
	padding: 20px;
	font-size: 3rem;
	text-decoration: underline;
	color: green;

}

#about-text p {
	padding: 20px;
	text-align:left;

}

#otg-welcome-text {
	color: #fff;
	text-align: left;
}

#otg-welcome-text h3 {
	padding-top: 10px;
}

#otg-welcome-text p {
	text-align: left;
}

/*******************SERVICES******************/

.buttons-container {
	position: relative;
	top: 13rem;
}

#big-services button {
	padding: 3px;
	font-size: 14px;
	background: green;
	color: #fff;
	border:none;
}

#big-services button:hover {
	background: lightgreen;
	color: #000;
	cursor: pointer;
}
#services-btn {
	position: absolute;
	color: #000;
	background: #fff;
	margin-top: 16rem;
	left: -7.8rem;
}

#marketing-btn {
	position: absolute;
	color: #000;
	background: #fff;
	margin-top: 16rem;
	margin-left: 1rem;
}

#predraft-btn {
	position: absolute;
	color: #000;
	background: #fff;
	margin-top: 16rem;
	margin-left: 13rem;
}

#support-btn {
	position: absolute;
	color: #000;
	background: #fff;
	margin-top: 16rem;
	margin-left: 22.7rem;
}

#community-btn {
	position: absolute;
	color: #000;
	background: #fff;
	margin-top: 16rem;
	margin-left: 33.9rem;
}

.services-container{
	position: relative;
	top: 13rem;
}
#big-services h1 {
	font-size: 3rem;
	margin-top: 15rem;
	color: #fff;
	text-align: right;
}

#services-text {
	position: relative;
	border-top: 8px #fff solid;
	/*top: 4rem;*/
}

#services-container h3 {
	padding-top: 20px;
}

.services-text img {
	position: relative;
	float:left;
	top: 5px;
	margin-bottom: 0.5em;
	margin-right: 1.5em;
	shape-outside: border-box;
	shape-margin: 75px;
	max-width: 250px;
	max-height: 250px;
}

.services-text {
	position: relative;
	padding: 10px;
	color: #fff;
	flex: none;
	min-width: 100%;
	border-top: 8px #fff solid;
}

.services-text p {
	text-align: left;
}

.display-none {
	display: none;
}
#marketing{
	position: relative;
	display: none;
}

#predraft {
	position: relative;
	display: none;
	top: 13rem;
}

#support {
	position: relative;
	display: none;
	top: 13rem;
}

#community {
	position: relative;
	display: none;
	top: 13rem;
}




.count-down-container{
	position: absolute;
	text-align: center;
	top: 27rem;
	z-index: 2;

	/*left: 10rem;*/
}

.clock-container{
	/*position: absolute;*/
	display: inline-block;
	border: #fff;
	color: green;
	box-shadow: 0 0 5px 3px #20c107;/*neon green*/
	background: rgba(4, 117, 15, 0.8);
	padding: 50px 10px 10px 10px;
}

.clock-container .info, p{
	text-align: center;
	padding: 10px;
	
}

.combine-draft-day {
	position: absolute;
	left: 18.5rem;
	color: #fff;
	font-size: 1rem;
	font-style: arial, sans-serif;
	text-transform: uppercase;
}

#dhms {
	font-size: 1rem;
	color: #fff;
}

#dddhms {
	font-size: 1rem;
	color: #fff;
	padding: 10px;
}

.info td {
	font-size: 1.5rem;
	box-shadow: 0 0 7px 3px #20c107;/*neon green*/
	background: #232426;/* charcoal */
	padding: 5px;
	border:none;
}

/*************FOOTER*******************/

footer{
	position: relative;
	margin-top: 46%; /*16rem;*/
	border-top: 4px green solid;
	bottom: 0;
	/*left: 0;*/
	height: 60vh;
	width: 100%;
	background: #000;
}

#links-text-otg {
	position: relative;
	padding-top: 50px;
	color: #fff;
	text-align: center;
}

.contact p {
	text-align: left;
	margin-bottom: 0;
}

.links {
	padding-bottom: 2%;
	/*left: 6rem;*/
}



.links ul {
	position: absolute;
	left: 3rem;
}

.links-border {
	position: absolute;
	/*right: 4rem;*/
	border-right: 3px green solid;

}

.links ul li{
	list-style: none;
}

.links ul li a{
	color: green;
}

.links ul li a:hover{
	color: lightgreen;
}

.links p{

	color: #fff;
}

.contact h6 {
	position:absolute;
	right: 3rem;
	color: #fff;
}

.copyright {
	position: relative;
	/*top: 3660px;*/
	color: green;
	margin-bottom: 2rem;
}

#prpa-vkweb {
	position: relative;
	margin-top: 1rem;
	padding-top:1%;
}

#prpa-vkweb i {
	position: relative;
	top: -30px;
	font-size: 28px;
	color: green;
	padding-right: 45px;

}

#prpa-vkweb i:hover {
	color: lightgreen;
}

#prpa-vkweb {
	text-align: center;
}

#prpa-vkweb a i{
	margin-top: 5px;
}

#prpa-copy-right {
	position: relative;
	color: #fff;

	padding-bottom: 0 !important;
}

#vk-link {
	padding-top: 0px;
	color: green;
}

#vk-link:hover {
	color: lightgreen;
}


